/* Estilos para la sección PQR */
#quejasReclamos {
    margin-bottom: 20px;
}

#pqrForm {
    margin-bottom: 20px;
}

#pqrForm label {
    display: block;
    margin-bottom: 5px;
}

#pqrForm input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
